<html xmlns="html">
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
        <script src="/static/js/d3.layout.cloud.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/app.css" />
    </head>
    <body>
        <div id="wordcloud"></div>
        <div class="container">
            <div id="papers"></div>
        </div>

        <script src="/static/js/wordcloud.js"></script>
        <script src="/static/js/papers.js"></script>
    </body>
</html>